.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav(metismenu)
      li
        a.active(href='#/')
          i.fa.fa-dashboard.fa-fw
          span.d-item-title.hidden-xs Dashboard
      li
        a(href='#')
          i.fa.fa-cubes.fa-fw
          span.d-item-title.hidden-xs Models
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-cube.fa-fw
              span.d-item-title.hidden-xs Model
          li
            a(href='#')
              i.fa.fa-check-circle.fa-fw
              span.d-item-title.hidden-xs Tests
      li
        a(href='#')
          i.fa.fa-database.fa-fw
          span.d-item-title.hidden-xs Database
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-table.fa-fw
              span.d-item-title.hidden-xs Collections
          li
            a(href='#')
              i.fa.fa-th-list.fa-fw
              span.d-item-title.hidden-xs Fixtures
      li
        a(href='#')
          i.fa.fa-files-o.fa-fw
          span.d-item-title.hidden-xs Pages
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-files-o.fa-fw
              span.d-item-title.hidden-xs Views
          li
            a(href='#')
              i.fa.fa-file-o.fa-fw
              span.d-item-title.hidden-xs New Page
      li
        a(href='#')
          i.fa.fa-book.fa-fw
          span.d-item-title.hidden-xs Docs
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-asterisk.fa-fw
              span.d-item-title.hidden-xs Code
          li
            a(href='#')
              i.fa.fa-check-square.fa-fw
              span.d-item-title.hidden-xs Coverage
      li
        a(href='#')
          i.fa.fa-users.fa-fw
          span.d-item-title.hidden-xs Auth
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-user.fa-fw
              span.d-item-title.hidden-xs Roles
      li
        a(href='#')
          i.fa.fa-gears.fa-fw
          span.d-item-title.hidden-xs Settings
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#') General
          li
            a(href='#') Database
      li
        a(href='#')
          i.fa.fa-wrench.fa-fw
          span.d-item-title.hidden-xs Extra Tools
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-sitemap.fa-fw
              span.d-item-title.hidden-xs Modeling 
          li
            a(href='#')
              i.fa.fa-cloud.fa-fw
              span.d-item-title.hidden-xs Rest API
          li
            a(href='#')
              i.fa.fa-flag.fa-fw
              span.d-item-title.hidden-xs i18n
          li
            a(href='#')
              i.fa.fa-edit.fa-fw
              span.d-item-title.hidden-xs Forms
          li
            a(href='#')
              span.d-item-title.hidden-xs Third Level
              span.fa.arrow
            ul.nav.nav-third-level
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
