nav.navbar.navbar-default(role='navigation',style="border-radius: 0 !important;")
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.hammerfont(href='/',style="padding-left: 7px;")
        span(style="display:inline-block;")
          img(src="/img/anyandgo-logo-circle-2.png", style="display:inline-block;height:30px;")
        span(style="display:inline-block;padding-left:10px;")
        | anyandgo
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#/',style="padding-right: 10px")
            i.fa.fa-dashboard.fa-fw
            | Dashboard
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span(style="display:inline-block;padding-right:10px;") Menu
            span.caret
          ul.dropdown-menu(role='menu')
            //admin:crud:menu:start
            li
              a(href='#/crud/sample') Sample
            li
              a(href='#/crud/user') User
            //admin:crud:menu:end

      ul.nav.navbar-nav.navbar-right
        li
          img.img-circle.img-responsive.img-profile(src="/img/user-placeholder.png", style="height:34px; margin: 6px 4px 0 0;")
        li
          p.navbar-text(style="padding-top: 3px;") Admin
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-cog.fa-fw
            span.hide Settings
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#')
                i.fa.fa-user.fa-fw
                |  Account
            li.divider
            li
              a(href='/logout') 
                i.fa.fa-sign-out.fa-fw
                |  Logout
