.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav(metismenu)
      li
        a.active(href='/admin/panel')
          i.fa.fa-dashboard.fa-fw
          span.d-item-title Dashboard
      li
        a(href='#')
          i.fa.fa-cubes.fa-fw
          span.d-item-title Models
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-cube.fa-fw
              span.d-item-title Model
          li
            a(href='#')
              i.fa.fa-check-circle.fa-fw
              span.d-item-title Tests
      li
        a(href='#')
          i.fa.fa-database.fa-fw
          span.d-item-title Database
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-table.fa-fw
              span.d-item-title Collections
          li
            a(href='#')
              i.fa.fa-th-list.fa-fw
              span.d-item-title Fixtures
      li
        a(href='#')
          i.fa.fa-files-o.fa-fw
          span.d-item-title Pages
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-files-o.fa-fw
              span.d-item-title Views
          li
            a(href='#')
              i.fa.fa-file-o.fa-fw
              span.d-item-title New Page
      li
        a(href='#')
          i.fa.fa-book.fa-fw
          span.d-item-title Docs
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-asterisk.fa-fw
              span.d-item-title Code
          li
            a(href='#')
              i.fa.fa-check-square.fa-fw
              span.d-item-title Coverage
      li
        a(href='#')
          i.fa.fa-users.fa-fw
          span.d-item-title Auth
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-user.fa-fw
              span.d-item-title Roles
      li
        a(href='#')
          i.fa.fa-gears.fa-fw
          span.d-item-title Settings
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#') General
          li
            a(href='#') Database
      li
        a(href='#')
          i.fa.fa-wrench.fa-fw
          span.d-item-title Extra Tools
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-sitemap.fa-fw
              span.d-item-title Modeling Tools
          li
            a(href='#')
              i.fa.fa-cloud.fa-fw
              span.d-item-title Rest API
          li
            a(href='#')
              i.fa.fa-flag.fa-fw
              span.d-item-title i18n
          li
            a(href='#')
              i.fa.fa-edit.fa-fw
              span.d-item-title Forms
          li
            a(href='#')
              span.d-item-title Third Level
              span.fa.arrow
            ul.nav.nav-third-level
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
