.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li.sidebar-search
        .input-group.custom-search-form
          input.form-control(type='text', placeholder='Search...')
          span.input-group-btn
            button.btn.btn-default(type='button')
              i.fa.fa-search
      li
        a.active(href='/admin/panel')
          i.fa.fa-dashboard.fa-fw
          | Dashboard
      li
        a(href='#')
          i.fa.fa-cubes.fa-fw
          | Models
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-cube.fa-fw
              | Model
          li
            a(href='#')
              i.fa.fa-check-circle.fa-fw
              | Tests
      li
        a(href='#')
          i.fa.fa-database.fa-fw
          | Database
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-table.fa-fw
              | Collections
          li
            a(href='#')
              i.fa.fa-th-list.fa-fw
              | Fixtures
      li
        a(href='#')
          i.fa.fa-files-o.fa-fw
          | Pages
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='blank.html') Blank Page
          li
            a(href='login.html') Login Page
      li
        a(href='#')
          i.fa.fa-book.fa-fw
          | Docs
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-asterisk.fa-fw
              | Models / Tests / Routes
          li
            a(href='#')
              i.fa.fa-check-square.fa-fw
              | Coverage
      li
        a(href='#')
          i.fa.fa-users.fa-fw
          | Auth
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#')
              i.fa.fa-user.fa-fw
              | Roles
      li
        a(href='#')
          i.fa.fa-edit.fa-fw
          | Forms
      li
        a(href='#')
          i.fa.fa-wrench.fa-fw
          | Settings
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#') General
          li
            a(href='#') Database
      li
        a(href='#')
          i.fa.fa-sitemap.fa-fw
          | Multi-Level Dropdown
          span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='#') Second Level Item
          li
            a(href='#') Second Level Item
          li
            a(href='#')
              | Third Level
              span.fa.arrow
            ul.nav.nav-third-level
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
