.row(style="background-color: #2b2a28;background-image: url('/img/bg-2-full.jpg');min-height:280px;")
  .col-sm-10.col-sm-offset-1.white(style="padding:50px 0;")
    .col-sm-6.col-md-6
      img(src="img/logos/all.png")
    .col-sm-3.col-md-3.col-md-offset-3.col-sm-offset-3.benefits-con
      h3.hammerfont
        img(src="./img/anyandgo-logo-circle-2.png")
        i(style="padding:0 3px;")
        | anyandgo
      ul.benefits.list-inline
        li
          a(href='https://github.com/cortezcristian/anyandgo')
            span.sidebar-nav-item-icon.fa.fa-code-fork
            |                   Fork
        |               
        li
          a(href='https://github.com/cortezcristian/anyandgo')
            span.sidebar-nav-item-icon.fa.fa-star
            |                   Star
        |               
        li
          a(href='https://github.com/cortezcristian/anyandgo/issues')
            span.sidebar-nav-item-icon.fa.fa-exclamation-triangle
            |                   Issues
.row(style="padding: 20px 0;background-color: #f8f8f8;")
  .col-sm-12.col-md-12
    p(style="text-align:center; margin:0; padding:0;color: #777;font-size:18px;") 
      i.fa.fa-github(style="padding-right:10px")
      | Site made with 
      a(href="https://github.com/cortezcristian/anyandgo",style="text-decoration:underline;color:#777") anyandgo
