.row(style="background-color: #2c3e50;min-height:280px;")
  .col-sm-10.col-sm-offset-1.white(style="padding:50px 0;")
    .col-sm-6.col-md-6
      img(src="img/logos/all.png")
    .col-sm-3.col-md-3
      h3.hammerfont
        i.fa.fa-cloud.fa-3(style="padding:0 3px;")
        | Anyango
      ul.benefits
        li Quick
        li Clean
        li Smooth
    .col-sm-3.col-md-3
      h3.hammerfont
        i.fa.fa-cloud-download.fa-3(style="padding:0 3px;")
        | Download
      ul.benefits
        li Anytime
        li Availability
        li Velocity
.row(style="padding: 20px 0;background-color: #f8f8f8;")
  .col-sm-12.col-md-12
    p(style="text-align:center; margin:0; padding:0;color: #777;font-size:18px;") 
      i.fa.fa-globe(style="padding-right:10px")
      | Site made with 
      a(href="https://github.com/cortezcristian/anyandgo",style="text-decoration:underline;color:#777") any·and·go
