nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.hammerfont(href='/')
        span(style="display:inline-block;")
          img(src="./img/anyandgo-logo-circle-2.png", style="display:inline-block;height:30px;")
        span(style="display:inline-block;padding-left:10px;")
        | anyandgo
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=((path=='/')?"active":""))
          a(href='/')
            i.fa.fa-home(style='padding-right:10px') 
            | Home
        // public:page:menu:start
        li(class=((path=='/docs')?"active":""))
          a(href='/docs')
            i.fa.fa-book(style='padding-right:10px') 
            | Docs
        // public:page:menu:end
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-plus(style='padding-right:10px') 
            | #{__("More")}
            span.caret(style='margin-left:10px')
          ul.dropdown-menu.dropdown-menu-bubble-left.mond-lang-change(role='menu')
            li
              a(href='/admin')
                i.fa.fa-user(style='padding-right:10px') 
                | Admin
            li
              a(href='/user')
                i.fa.fa-users(style='padding-right:10px') 
                | Users
            li
              a(href='/contact')
                i.fa.fa-envelope-o(style='padding-right:10px') 
                | Contact
      ul.nav.navbar-nav.navbar-right
        //li.hide.github-btn-con(style="max-height:45px;overflow:hidden;")
          a.github-button(href='https://github.com/cortezcristian/anyandgo', data-icon='octicon-star', data-style='mega', data-count-href='/cortezcristian/anyandgo/stargazers', data-count-api='/repos/cortezcristian/anyandgo#stargazers_count', data-count-aria-label='# stargazers on GitHub', aria-label='Star cortezcristian/anyandgo on GitHub') Star
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-globe(style='padding-right:10px') 
            span(style='padding-right:10px') #{__("Language")}
            span.caret
          ul.dropdown-menu.dropdown-menu-bubble-right.mond-lang-change(role='menu')
            //public:translation:menu:start
            li
              a(href='#', langsupport="en-us") #{__("en-us")}
            li
              a(href='#', langsupport="es-ar") #{__("es-ar")}
            //public:translation:menu:end
        //li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span
              i.fa.fa-users(style='padding-right:10px') 
              span(style='padding-right:10px') Login
            span.caret
          ul.dropdown-menu.dropdown-menu-bubble-right(role='menu')
            li
              a(href='#') 
                i.fa.fa-github-alt(style='padding-right:10px') 
                | Github
            li
              a(href='#') 
                i.fa.fa-google-plus(style='padding-right:10px') 
                | Google
            li
              a(href='#') 
                i.fa.fa-linkedin-square(style='padding-right:10px') 
                | Linkedin
            li
              a(href='#') 
                i.fa.fa-facebook-square(style='padding-right:10px') 
                | Facebook
