extends layout-admin

block content
  .board-container.container-fluid
    .row
      .sidebar-con.col-xs-1.col-md-2
        include ./partials/admin-sidebar
      .main-con.col-xs-11.col-sm-6.col-md-10
        .panel
          | Content
