extends layout-admin

block content
  .jumbotron
    h1=__("pick anyandgo")
    p ...
    p #{__("Welcome to anyandgo MEAN")}
    p
      a.btn.btn-primary.btn-lg(role='button',href="https://github.com/cortezcristian/anyandgo") Read the Docs
