extends layout-admin

block content
  .board-container.container-fluid(ng-app='anyandgoApp')
    div.loadingmessage(loadingmessage).animated.flipInX
      .preloading-message.animated.bounceInUp
        i.fa.fa-refresh.fa-spin
    .row(ng-cloak)
      .sidebar-con.col-xs-1.col-sm-1.col-md-3#side-col
        div(style="height: 46px;background:#4A4A4A;")
          a.collapser(href="javascript:",style="display:block;background-color: #333;")
            i.fa.fa-chevron-left
            i.fa.fa-chevron-right.hide
        include ./partials/admin-sidebar
      .main-con.col-xs-11.col-sm-11.col-md-9#content-col
        .panel(ng-view)
          
block scripts
  - if(settings.envflag !== "production") {
  //-<!-- build:js(public) scripts/panel-app.min.js -->
  //admin:app:scripts
  script(src='/scripts/admin/app.js')
  script(src='/scripts/admin/controllers/main.js')
  script(src='/scripts/admin/controllers/about.js')
  //admin:crud:scripts:start
  script(src='/scripts/admin/controllers/sample.js')
  script(src='/scripts/admin/controllers/sample-new.js')
  script(src='/scripts/admin/controllers/sample-edit.js')
  script(src='/scripts/admin/controllers/user.js')
  script(src='/scripts/admin/controllers/user-new.js')
  script(src='/scripts/admin/controllers/user-edit.js')
  //admin:crud:scripts:end

  script(src='/scripts/admin/directives/metismenu.js')
  script(src='/scripts/admin/directives/loadingmessage.js')
  //admin:app:scripts:end
  //-<!-- endbuild -->
  - } else {
  script(src='/dist/scripts/panel-app.min.js')
  - }
