extends layout-admin

block content
  .board-container.container-fluid
    .row
      .sidebar-con.col-xs-6.col-md-4
        include ./partials/admin-sidebar
      .main-con.col-xs-12.col-sm-6.col-md-8
        .panel
          | Content
