extends layout

block content
  .jumbotron
    form(method="post")
      p !{form}
      button.btn.btn-primary(ng-click='save()', ng-disabled='isClean() || myForm.$invalid') Login
    p
    .well.well-sm Hint: admin@anyandgo.com / 123456
