extends layout-admin

block content
  .board-container.container-fluid(ng-app='anyandgoApp')
    .row
      .sidebar-con.col-xs-2.col-md-2
        include ./partials/admin-sidebar
      .main-con.col-xs-10.col-sm-6.col-md-10
        .panel(ng-view)
          | Content {{awesomeThings}}
          
block scripts
  - if(settings.envflag !== "production") {
  //-<!-- build:js(public) scripts/panel-app.min.js -->
  //admin:app:scripts
  script(src='/scripts/admin/app.js')
  script(src='/scripts/admin/controllers/main.js')
  script(src='/scripts/admin/controllers/about.js')
  //admin:crud:scripts:start
  script(src='/scripts/admin/controllers/sample.js')
  script(src='/scripts/admin/controllers/sample-new.js')
  script(src='/scripts/admin/controllers/sample-edit.js')
  //admin:crud:scripts:end
  script(src='/scripts/admin/directives/metismenu.js')
  //admin:app:scripts:end
  //-<!-- endbuild -->
  - } else {
  script(src='/dist/scripts/panel-app.min.js')
  - }
