extends layout

block content
  .row(style="padding-top:40px")
    - if (typeof flash.success !== 'undefined' && flash.success.length){
    .col-sm-6.col-sm-offset-3
      .jumbotron
        .row
          .col-md-3
              p.text-center
                i.fa.fa-thumbs-o-up.fa-5x
            .col-md-9
              p.semiBold We have received your message
              p We'll get back to you shortly
              p
                a.btn.btn-primary(role='button',href="/") Back
    - }else{
    .col-sm-6.col-sm-offset-3
      h2 Contact
      p Leave us your message. 
      - if(flash && typeof flash.error !== 'undefined' && flash.error.length > 0) {
      .alert.alert-danger(role="alert")
        -   flash.error.forEach(function(v,i){
          -     if(typeof v === 'object') {
          p #{v.param}: #{v.msg}
          -     }
        -   });
      - }
      form(role="form",method="post",action="")
        .form-group
          label.label-control(for="name") Name : 
          input(name="name")#name.form-control
        .form-group
          label.label-control(for="email") Email :
          input(name="email")#email.form-control
        .form-group
          label.label-control(for="message") Message :
          textarea(name="message")#message.form-control
        .form-group
          !{recaptcha_form}
        .form-group
          button(type="submit").btn.btn-primary Send
    -}
