div
  div
  #readme.blob.instapaper_body
    article.markdown-body
      p
        a(href='https://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/anyandgo-io.png', target='_blank')
          img(src='https://raw.githubusercontent.com/cortezcristian/anyandgo/master/templates/screenshots/anyandgo-io.png', alt='Anyandgo', style='max-width:100%;')
      p
        a(href='http://anyandgo.io/') Visit anyandgo.io
      h3
        a#user-content-pick-anyandgo.anchor(href='#pick-anyandgo', aria-hidden='true')
          span.octicon.octicon-link
        | Pick any·and·go!
      p The MEAN Framework that doesn't suck. 
      p
        | What is the MEAN stack? 
        a(href='http://addyosmani.com/blog/full-stack-javascript-with-mean-and-yeoman/') Read More
      p The acronym stands for: 
      ul
        li
          | (M)ongoDB – a noSQL document datastore which uses JSON-style documents to represent data,
        li (E)xpress – a HTTP server framework on top of Node, 
        li
          | (A)ngular – as you know, the JS framework offering declarative, two-way databinding for webapps and
        li
          | (N)ode – the platform built on V8’s runtime for easily building fast, scalable network applications.
      p
