h1
  | #{mname}
hr
form(name='myForm', role='form')
  | !{form}
  br
  a.btn(href='#/crud/'+mname) Cancel
  | 
  button.btn.btn-primary(ng-click='save()', ng-disabled='isClean() || myForm.$invalid') Save
  | 
  button.btn.btn-danger(ng-click='destroy()', ng-show=mname+'._id') Delete

