form(name='myForm', role='form')
  | !{form}
  br
  a.btn(href='#/') Cancel
  button.btn.btn-primary(ng-click='save()', ng-disabled='isClean() || myForm.$invalid') Save
  button.btn.btn-danger(ng-click='destroy()', ng-show='sample._id') Delete

