extends layout

block content
  .row.our-main-content
    .col-md-3#side
      h2.text-center(style="background-color: #333;color:#858585;padding:10px;margin:0;") 
        img(src="./img/anyandgo-logo.png", style="width:95px;")
        | Pick anyandgo!
      #topics
        ul.hide
          li.folder.expanded Docs
            ul
              li.href(data-href="#main") Start
              li(data-href="#quick-setup") Quick Setup
              li(data-href="#best-parctices") Best Practices
              li(data-href="#grunt-task") Grunt tasks
              li.folder.expanded Scaffolding
                ul
                  li(data-href="#model-test-creation") Model+Test
                  li(data-href="#page-route") Page+Route 
                  li(data-href="#rest-test") Crud+Test
              li(data-href="#auto-login") AutoLogin for devs
              li(data-href="#custom-forms") Custom Forms Fields
              li(data-href="#locale") Locale+Translation
              li(data-href="#minification") Assets minification 
              li(data-href="#translation") Translation Support
              li(data-href="#fixtures") Fixtures
              li(data-href="#mails") Mails
              li(data-href="#captcha") Captcha Support
              li(data-href="#server-logs") Server Logs
              li(data-href="#security") Security
              li(data-href="#cors") CORS Support
              li(data-href="#seo") SEO Support
              li(data-href="#express") Express 4.x
              li(data-href="#credits") Credits

    .col-md-9#content.ps-scroller
      include ./docs-index

block footer
