doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    script.
      document.write('<base href="' + document.location + '" />');
    - if(settings.envflag !== "production") {
    //-<!-- build:css(public) styles/panel-styles.min.css -->
    link(rel='stylesheet', href='/scripts/admin/admin_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    //bower:css
    link(rel='stylesheet', href='/scripts/admin/admin_components/metisMenu/dist/metisMenu.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/angular-toggle-switch/angular-toggle-switch.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/perfect-scrollbar/css/perfect-scrollbar.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/components-font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/animate.css/animate.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/angular-dashboard-framework/dist/angular-dashboard-framework.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/adf-widget-clock/dist/adf-widget-clock.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/angular-toastr/dist/angular-toastr.css')
    link(rel='stylesheet', href='/scripts/admin/admin_components/angular-hotkeys/build/hotkeys.css')
    //endbower
    //-<!-- endbuild -->
    - } else {
    link(rel='stylesheet', href='/dist/styles/panel-styles.min.css')
    link(rel='stylesheet', href='/components/fontawesome/css/font-awesome.css')
    - }
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      - if(settings.envflag !== "production") {
      script(src='http://localhost:35729/livereload.js')
      - }
  body
    include ./partials/admin-menu
    block content
    - if(settings.envflag !== "production") {
    //-<!-- build:js(public) scripts/panel-vendors.min.js -->
    //bower:js
    script(src='/scripts/admin/admin_components/jquery/dist/jquery.js')
    script(src='/scripts/admin/admin_components/angular/angular.js')
    script(src='/scripts/admin/admin_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/scripts/admin/admin_components/bootstrap/dist/js/bootstrap.js')
    script(src='/scripts/admin/admin_components/metisMenu/dist/metisMenu.js')
    script(src='/scripts/admin/admin_components/lodash/dist/lodash.compat.js')
    script(src='/scripts/admin/admin_components/restangular/dist/restangular.js')
    script(src='/scripts/admin/admin_components/angular-resource/angular-resource.js')
    script(src='/scripts/admin/admin_components/angular-cookies/angular-cookies.js')
    script(src='/scripts/admin/admin_components/angular-sanitize/angular-sanitize.js')
    script(src='/scripts/admin/admin_components/angular-animate/angular-animate.js')
    script(src='/scripts/admin/admin_components/angular-touch/angular-touch.js')
    script(src='/scripts/admin/admin_components/angular-route/angular-route.js')
    script(src='/scripts/admin/admin_components/angular-toggle-switch/angular-toggle-switch.js')
    script(src='/scripts/admin/admin_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js')
    script(src='/scripts/admin/admin_components/perfect-scrollbar/js/perfect-scrollbar.js')
    script(src='/scripts/admin/admin_components/Sortable/Sortable.js')
    script(src='/scripts/admin/admin_components/Sortable/ng-sortable.js')
    script(src='/scripts/admin/admin_components/angular-dashboard-framework/dist/angular-dashboard-framework.js')
    script(src='/scripts/admin/admin_components/adf-structures-base/dist/adf-structures-base.js')
    script(src='/scripts/admin/admin_components/moment/moment.js')
    script(src='/scripts/admin/admin_components/adf-widget-clock/dist/adf-widget-clock.js')
    script(src='/scripts/admin/admin_components/adf-widget-weather/dist/adf-widget-weather.js')
    script(src='/scripts/admin/admin_components/angular-toastr/dist/angular-toastr.tpls.js')
    script(src='/scripts/admin/admin_components/angular-hotkeys/build/hotkeys.js')
    //endbower
    //-<!-- endbuild -->
    - } else {
    script(src='/dist/scripts/panel-vendors.min.js')
    - }
    block scripts

    // Toaster notifications
    toaster-container
