extends layout

block content
  .row.our-main-content.neck(style="margin:0 -15px; height: 100%; padding: 50px 0 150px 0;background-color:#000;")
    .col-sm-6.col-sm-offset-3(style="margin-top:55px; height: 100%;")
      //Card
      .card.card-container.animated.bounceInUp
        img#profile-img.profile-img-card(src='/img/user-placeholder.png')
        p#profile-name.profile-name-card
        form.form-signin
          span#reauth-email.reauth-email
          input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
          input#inputPassword.form-control(type='password', placeholder='Password', required='')
          #remember.checkbox
            label
              input(type='checkbox', value='remember-me')
              |  Remember me
          button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Sign in
        // /form
        a.forgot-password(href='#')
          | Forgot the password?
      // /card-container

block footer 
