body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  a
    color: #00B7FF

// Dashboard
.board-container
  margin-top:-20px
  .sidebar-con
    padding-left: 0
    .sidebar-nav
      padding: 20px 0
      & > ul > li
        border-bottom: 1px solid #e7e7e7
      .d-item-title
        padding-left: 10px
