body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  a
    color: #00B7FF
  img
    display: block;
    max-width: 100%;
    height: auto;
  .hammerfont
    font-family: 'Hammersmith One', sans-serif;
  .neck
    margin: 50px 0 0
    padding: 50px 70px 60px 120px
    background: url('../img/itcloud.jpg')
    background-position: center
    h1
      font-size: 55px;
      text-shadow: 3px 7px 1px rgba(0,0,0, 0.2);
    p
      margin-bottom: 15px;
      font-size: 21px;
      font-weight: 200;
  .logobig, .white
    color: #fff !important
  .our-main-content
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
    background: url('../img/background.png') no-repeat 50% 0
    .mean-logo
      height:30px;

// Dashboard
.board-container
  margin-top:-20px
  .sidebar-con
    padding-left: 0
    .sidebar-nav
      padding: 20px 0
      & > ul > li
        border-bottom: 1px solid #e7e7e7
      .d-item-title
        padding-left: 10px
.dropdown-menu-bubble-right:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu-bubble-right:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar-con {
    padding: 0;
    .d-item-title {
      display: none;
    }
  }
  .main-con {
    padding: 0;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}
