body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  a
    color: #00B7FF

// Dashboard
.board-container
  margin-top:-20px
  .sidebar-con
    .sidebar-nav
      padding-top: 20px
      padding-bottom: 20px
      & > ul > li
        border-bottom: 1px solid #e7e7e7
      .fa
        padding-right: 10px
